<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<master auto="start"/>

	<node pkg="laser_wall_extraction" type="wall_extraction.py" respawn="false" name="laser_wall_extraction" output="screen">
		<rosparam file="$(find laser_wall_extraction)/config/parameters.yaml" command="load" />
	</node>
</launch>
