<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<master auto="start"/>

	<node pkg="human_pattern_recognition" type="hpr.py" respawn="false" name="human_pattern_recognition" output="screen">
		<param name="classifier_path" value="$(find human_pattern_recognition)/scripts/cluster_labels/LDA_classifier.p" />
		<param name="save_path"  value="$(find human_pattern_recognition)/scripts/cluster_labels/" />
		<param name="scan_topic" type="str" value="scan" />
		<param name="timewindow" type="int" value="40" />
                <param name="max_range" type="int" value="10" />
                <param name="save_metrics" type="bool" value="False" />
                <param name="pause_function" type="bool" value="False" />
		<param name="num_of_diagrams" type="int" value="3"/><!-- 0-3 -->
	</node>
</launch>
