<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
    <param name="use_sim_time" value="False" />
    <!-- some rosbags need param: use_sim_time = True . If you use scan topic (not from rosbag) or package roll_test , use_sim_time = False -->
    <node pkg="tf" type="static_transform_publisher" name="" args="0 0 0 0 0 0 1 base_link laser 100"/>

    <include file="$(find laserscan_stacker)/launch/laserscan_stacker.launch"/>

    <node pkg="pointcloud2_segments_viz" type="pointcloud2_segments_viz" respawn="false" name="pointcloud2_segments_viz" output="screen">
        <rosparam file="$(find hpr)/config/viz_param.yaml" command="load" />
    </node>

    <include file="$(find pointcloud2_clustering)/launch/pointcloud2_clustering.launch"/>

    <include file="$(find pointcloud2_cluster_tracking)/launch/pointcloud2_cluster_tracking.launch"/>
</launch>